@import '../../styles/colors';
@import '../../styles/functions';

.forgot_password_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
   // border: 1px solid;
    padding: 20px;


    .forgot_password_title {
        font-size: 45px;

    }

    & form {
        width: 100%;
      //  background-color: red;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        
    }


    & form input {
        width: 100%;
        height: 50px;
        padding-left: 20px;
        border: none;
        border: 1px solid $greyTheme;
        outline: none;
    
        &:focus {
            border: 2px solid #b0d7fd;
            box-shadow: 0px 0px 3px #74b9ff;
        }
    }
}

.forgot_password_submit_password {
    width: 100%;
    height: 40px;
    background-color: $blueTheme;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    color: $whiteTheme;
    @include use-transition(background-color);

    &:hover {
        background-color: $blueThemeHover;
        cursor: pointer;
    }

    &:disabled {
        background-color: $blueThemeHover;
        cursor: not-allowed; 
    }
}