//-------------------app colors------------------------

$greyTheme : #9f9f9f;
$greyThemeHover: #dbdbdb88;
$blackTheme: #000;
$blackThemeHover: #656666;
$blueTheme: #0984E3;
$blueThemeHover: #5fb8f3;
$blueExtra: #DFE6E9;
$whiteTheme: #ffff;
$whiteThemHover: #ecf0f1;
$greenTheme: #1abc9c;
$greenThemeHover: #1abc9c;
$redTheme: #c23616;
$redThemeHover: #e84118;