//-------------------app colors------------------------

$greyTheme : #9F9F9F;
$blackTheme: #000;
$blackThemeHover: #656666;
$blueTheme: #0984E3;
$blueThemeHover: #5fb8f3;
$whiteTheme: #ffff;
$whiteThemHover: #ecf0f1;
$greenTheme: #1abc9c;