@import '../../styles/responsive';




.app_container_content {
    @include md {
        margin-left: 100px;
        width: calc(100vw - 100px);
    }
    @include xl {
        margin-left: 300px;
        width: calc(100vw - 300px);
    }
   
    margin-top: 90px;
    min-height: 100vh;
   // height: 200px !important;
   
    
    display: flex;
    
    justify-content: center;

   // background-color: green;

}